{% extends "website/layout.html" %}

{% block title %}ICA - Board{% endblock %}
{% block nav_board %}<a class="active item" href="{{ url_for('website.board') }}">Board</a>{% endblock %}

{% block header %}
<div class="ui left aligned container">
    <h1 class="ui header">Board</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.</h2>
</div>
{% endblock %}

{% block content %}
<div class="ui container">
    <div class="ui four column stackable grid">
        {% for key, value in data %}
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/' + value.pic) }}">
                </div>
                <div class="content">
                    <a id="prof-{{ key }}" class="header" href="#">{{ value.name }}</a>
                    <div class="meta">
                        <p>{{ value.position }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-{{ key }}" class="ui small modal">
            <div class="content">
                <img class="ui centered small circular image" src="{{ url_for('static', filename='img/' + value.pic) }}">
                <h1 class="ui center aligned header">
                    {{ value.name }}
                    <div class="sub header">{{ value.position }}</div>
                    <div class="sub header">{{ value.year }} // {{ value.major }}</div>
                </h1>
                <p>{{ value.bio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
