{% extends "website/layout.html" %}
{% from "website/macros.html" import render_header %}

{% block title %}ICA - Board{% endblock %}
{% block nav_board %}<a class="active item" href="{{ url_for('website.board') }}">Board</a>{% endblock %}

{% block content %}
<div id="board" class="ui container">
    {{ render_header('ICA Board', 'Meet the official 2017-2018 ICA Executive Board! They work hard, behind the scenes of all ICA events to show you all that Austin has to offer!') }}
    <div class="ui four column stackable grid">
        {% for key, value in data %}
        <div class="column">
            <div id="prof-{{ key }}" class="ui fluid card">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/' + value.pic) }}">
                </div>
                <div class="content">
                    <a class="header" href="#">{{ value.name }}</a>
                    <div class="meta">
                        <p>{{ value.position }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-{{ key }}" class="ui small modal">
            <div class="content">
                <img class="ui centered small circular image" src="{{ url_for('static', filename='img/' + value.pic) }}">
                <h1 class="ui center aligned header">
                    {{ value.name }}
                    <div class="sub header">{{ value.position }}</div>
                    <div class="sub header">{{ value.year }} // {{ value.major }}</div>
                </h1>
                <p>{{ value.bio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
