{% extends "website/layout.html" %}

{% block script %}
$('#test').on('click', function() {
    $('.ui.modal').modal('show');
});
{% endblock %}

{% block title %}ICA - Board{% endblock %}
{% block nav_board %}<a class="active item" href="{{ url_for('website.board') }}">Board</a>{% endblock %}

{% block header %}
<div class="ui left aligned container">
    <h1 class="ui header">Board</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.</h2>
</div>
{% endblock %}

{% block content %}
<div class="ui container">
    <div class="ui four column stackable grid">
        <div class="row">

            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='img/shrey.jpg') }}">
                    </div>
                    <div class="content">
                        <a id="test" class="header" href="#">Shrey Desai</a>
                        <div class="meta">
                            <p>Technology Director</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="ui small modal">
    <div class="header">Shrey Desai</div>
    <div class="content">
        <p><strong>Position:</strong> Technology Director</p>
        <p><strong>Major:</strong>  Computer Science</p>
        <p><strong>Minor/Certificate(s):</strong> Applied Statistical Modeling</p>
        <p>Hi! I’m Shrey and I’m very excited to be your Technology Director this year! I’m originally from the Bay Area in California. I love biking, criminology, sarcasm, memes, milk tea, and hip-hop/rap music. A fun fact about me is that I reluctantly got my driver’s license when I was 18. Let me know if you have any questions - I’d be more than happy to help you out!</p>
    </div>
</div>
{% endblock %}
