{% extends "website/layout.html" %}
{% from "website/macros.html" import render_header, render_faq %}

{% block title %}ICA - FAQ{% endblock %}
{% block nav_faq %}<a class=" active item" href="{{ url_for('website.faq') }}">FAQ</a>{% endblock %}

{% block content %}
<div id="faq" class="ui text container">
    {{ render_header('ICA FAQ', 'Frequently asked questions about ICA are listed below. If you have a question or concern that has not been addressed below, please reach out to any ICA board member for an answer!') }}
    {{ render_faq('What do the membership dues cover?', 'The dues are $20 for the full year and $15 for one semester. By paying your dues, you will get an ICA t-shirt, free mango lassi at all Rasois (while supplies last), discounted tickets to signature events (such as Jhalak), and free admission into all ICA social, service, and professional events! ') }}
    <div class="ui vertical segment">
        <h3>What is Rasoi?</h3>
        <p>ICA hosts Rasoi on the first Wednesday of every month in West Mall, right next to the FAC. We sell fresh vegetarian and non-vegetarian Indian food at affordable prices. ICA members receive free mango lassi at all Rasois (while supplies last). Check out our <a href="https://www.facebook.com/TexasICA/" target="_blank">Facebook page</a> to see when the next Rasoi is!</p>
    </div>
    {{ render_faq("How can I get more involved with ICA even if I'm not on the executive board?", 'We encourage all of our members to be active in ICA. One of the best ways to become more involved is to volunteer for Jhalak, the national Bollywood dance competition that ICA hosts every year. We also encourage all of our members to let our social or service director know if you have any ideas for future ICA social and service events!') }}
    {{ render_faq('Do I have to be Indian to join ICA?', 'No! ICA is open to members of all ethnicities and races, and we are proud to have a diverse member base.') }}
    {{ render_faq("What's the difference between ICA and ISA?", 'ICA hosts Jhalak and Rasoi, in addition to a variety of social, service, and cultural events primarily geared towards ICA members; ISA hosts Riyaaz, Taal, and other events for the Indian community on campus.') }}
    <div class="ui vertical segment">
        <h3>What is Jhalak?</h3>
        <p>Jhalak is a national Bollywood fusion dance competition that ICA will be hosting for the 17th time this year on Saturday, November 18. Jhalak features competing teams from all across the nation, and we've had several successful sold-out shows. We encourage ICA members to get involved with Jhalak by volunteering, becoming a liaison, or attending the show! For more information, visit <a href="http://www.texasjhalak.com" target="_blank">http://www.texasjhalak.com</a>.</p>
    </div>
</div>
{% endblock %}
