{% macro render_header(name, text) %}
<div class="ui center aligned text container">
    <h1>{{ name }}</h1>
    <p>{{ text }}</p>
</div>
{% endmacro %}

{% macro render_about(name, text, path) %}
<div class="column">
    <img class="ui centered small circular image" src="{{ url_for('static', filename=path) }}">
    <h2>{{ name }}</h2>
    <p>{{ text }}</p>
</div>
{% endmacro %}

{% macro render_join(name, text, path) %}
<div class="column">
    <img class="ui centered mini circular image" src="{{ url_for('static', filename=path) }}">
    <h2>{{ name }}</h2>
    <p>{{ text }}</p>
</div>
{% endmacro %}

{% macro render_event(name, text, path) %}
<div class="column">
    <img class="ui centered small circular image" src="{{ url_for('static', filename=path) }}">
    <h2>{{ name }}</h2>
    <p>{{ text }}</p>
</div>
{% endmacro %}

{% macro render_faq(question, answer) %}
<div class="ui vertical segment">
    <h3>{{ question }}</h3>
    <p>{{ answer }}</p>
</div>
{% endmacro %}

{% macro render_field(field) %}
<div class="field">
    <label>{{ field.label }}</label>
    {{ field(**kwargs)|safe }}
</div>
{% if field.errors %}
    <div class="ui error message">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endmacro %}

{% macro render_post(title, author, p1, p2, p3) %}
<div class="ui vertical segment post">
    <h2 class="ui header">
        {{ title }}
        <div class="sub header">{{ author }}</div>
    </h2>
    <p>{{ p1 }}</p>
    {% if p2 %}<p>{{ p2 }}</p>{% endif %}
    {% if p3 %}<p>{{ p3 }}</p>{% endif %}
</div>
{% endmacro %}
