{% extends "website/layout.html" %}
{% from "website/macros.html" import render_header, render_post %}

{% block title %}ICA - Penn Masala{% endblock %}
{% block nav_pennmasala %}<a class=" active item" href="{{ url_for('website.pennmasala') }}">Penn Masala</a>{% endblock %}

{% block content %}
<div id="board" class="ui text container">
    {{ render_header('Penn Masala', 'UT ICA presents to you Penn Masala! Penn Masala, the world’s first South Asian a cappella group, was formed in 1996 at the University of Pennsylvania. They will be performing at UT on 10/5!') }}

    <br>

    <img src="{{ url_for('static', filename='img/pennmasala.jpg') }}" width="100%">

    <br>

    <p>Facebook event: <a href="https://www.facebook.com/events/259216457931538/" target="_blank">UT ICA Presents: Penn Masala</a></p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="3FWRBWEPPPZX2">
    <table>
    <tr><td><input type="hidden" name="on0" value="Penn Masala Ticket Options">Penn Masala Ticket Options</td></tr><tr><td><select name="os0">
    	<option value="Show Ticket">Show Ticket $12.67 USD</option>
    	<option value="Meet & Greet Ticket">Meet & Greet Ticket $15.76 USD</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>
{% endblock %}
