{% extends "social/layout.html" %}
{% from "social/macros.html" import render_event %}

{% block nav_followers %}<a class="active item" href="{{ url_for('social.followers') }}">Followers</a>{% endblock %}

{% block title %}ICA - Followers{% endblock %}

{% block content %}
<div id="followers" class="ui middle aligned divided list">
    {% if followers %}
    {% for follower in followers %}
    <div class="item">
        <div class="right floated content">
            {% if user.is_following(follower) %}
            <button class="ui basic tiny red button follow" user="{{ follower.id }}">Unfollow</button>
            {% else %}
            <button class="ui basic tiny green button follow" user="{{ follower.id }}">Follow</button>
            {% endif %}
        </div>
        <img class="ui mini rounded middle aligned image" src="{{ follower.get_pfpic() }}">
        <div class="content">
            <h4 class="header">{{ follower.fname }} {{ follower.lname }}</h4>
            <div class="description">{{ follower.year }}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You have no followers!</p>
    {% endif %}
</div>
{% endblock %}
