{% extends "social/layout.html" %}
{% from "social/macros.html" import render_event %}

{% block nav_leaderboard %}<a class="active item" href="{{ url_for('social.leaderboard') }}">Leaderboard</a>{% endblock %}

{% block title %}ICA - Social{% endblock %}

{% block content %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for member in leaderboard %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <h4 class="ui image header">
                    <img class="ui mini rounded image" src="{{ url_for('static', filename=member.get_pfpic()) }}">
                    <div class="content">
                        {{ member.fname }} {{ member.lname }}
                        <div class="sub header">{{ member.year }}</div>
                    </div>
                </h4>
            </td>
            <td>{{ member.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
