{% extends "social/layout.html" %}
{% from "social/macros.html" import render_event, render_field %}

{% block title %}ICA - Settings{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="ui success message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="ui error message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div class="ui container">
    <div class="ui stackable grid">
        <div class="ten wide column">
            <h3>Profile Settings</h3>
            <form class="ui form" action="{{ url_for('social.settings') }}" method="POST">
                {{ profile_form.csrf_token }}
                {{ render_field(profile_form.bio, placeholder=current_user.bio) }}
                {{ render_field(profile_form.hometown, placeholder=current_user.hometown) }}
                {{ render_field(profile_form.major, placeholder=current_user.major) }}
                {{ render_field(profile_form.year) }}
                <button class="ui button" type="submit">Update Profile</button>
            </form>
        </div>
        <div class="six wide column">
            <h3>Profile picture</h3>
            <img class="ui small rounded image" src="{{ url_for('static', filename=user.get_pfpic()) }}">
            <form id="upload" action="{{ url_for('social.upload_pfpic') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file"><br>
                <button class="ui button" type="submit">Upload New Picture</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
