$white: #FFFFFF;
$black: #000000;

$transparent-gray: rgba(243,243,246,0.1);
$light-gray: #DBDBDB;
$medium-gray: #6A737D;
$dark-gray: #4E4E4E;

$medium-aquamarine: #5DD39E;
$dark-aquamarine: #31A973;
$steel-blue: #348AA7;
$dark-steel-blue: #186680;
