@import 'colors';

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $transparent-gray;
}

input {
    font-family: inherit;
}

a {
    color: $vivid-cerulean;
    transition: all 0.1s linear;
}

a:hover {
    color: $dark-vivid-cerulean;
}

.ui.button {
    font-family: inherit;
    background-color: $medium-aquamarine;
    color: $white;
    transition: all 0.1s linear;
}

.ui.button:hover {
    background-color: $dark-aquamarine;
    color: $white;
}

.ui.primary.button {
    background-color: $medium-aquamarine;
    color: $white;
    transition: all 0.1s linear;
}

.ui.primary.button:hover {
    background-color: $dark-aquamarine;
    color: $white;
}

.ui.form {
    font-family: inherit;
}

.ui.form input[type=text] {
    font-family: inherit;
}

.ui.positive.message {
    font-family: inherit;
    margin: 2% 0%;
}

.ui.negative.message {
    font-family: inherit;
    margin: 2% 0%;
}

#nav {
    border-radius: 0;
    box-shadow: none;
    padding: 1% 5%;
    background: $white;
    border: 1px solid $white;
    border-bottom: 1px solid $light-gray;

    a.item {
        font-family: "Roboto", sans-serif;
        border-left: none;
        border-right: none;
    }
}

.right.menu {
    font-family: "Roboto", sans-serif;
}

.ui.footer {
    padding: 2% 0%;
    background-color: $white;
    box-shadow: 0px 500px 0px 500px $white;

    p {
        font-size: 14px;
    }
}
