@import 'colors';
@import 'base';

#title {
    font-family: "Roboto", sans-serif;
    margin: 3%;
}

#apps {
    padding: 2%;
    font-family: "Roboto", sans-serif;

    a {
        color: $vivid-cerulean;
        transition: all 0.1s linear;
    }

    a:hover {
        color: $dark-vivid-cerulean;
    }

    p {
        color: $medium-gray;
    }

    h3 {
        font-family: inherit;
    }
}

.ui.breadcrumb {
    padding: 2% 0%;

    a {
        color: $steel-blue;
        transition: all 0.1s linear;
    }

    a:hover {
        color: $dark-steel-blue;
    }
}

.ui.footer {
    margin-top: 2%;
}
