@import 'colors';
@import 'base';

.header {
    color: $black;
}

.ui.card > .content > .header:not(.ui) {
    font-family: inherit;
    font-weight: 400;
}

#menu {
    padding: none;
    background: none;

    .active.item {
        font-weight: normal;
        border-color: $medium-aquamarine;
    }

    a {
        transition: all 0.1s linear;
    }

    a:hover {
        border-color: $medium-aquamarine;
    }
}

#profile {
    margin-top: 1%;

    h1, h3 {
        font-family: inherit;
    }

    p {
        color: $medium-gray;
    }

    .tiny.label {
        background-color: $medium-aquamarine;
        color: $white;
    }
}

#announcements {
    padding: 3%;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #EDEDED;

    p {
        color: $medium-gray;
    }

    a {
        font-weight: 400;
    }

    .user {
        color: $black;
    }

    .extra.text {
        color: $medium-gray;
    }
}

#events {
    .content .header {
        font-family: inherit;
    }

    .content .meta {
        padding-bottom: 1%;
    }
}

#search {
    padding: 1%;

    input {
        margin-right: 3%;
    }
}

#recommended {
    .description p {
        margin: 5% 0%;
    }
}

#members {
    .description p {
        margin: 5% 0%;
    }
}

#leaderboard {
    .content {
        font-weight: 400;
    }
}

#followers {
    h4 {
        font-weight: 400;
    }

    .item {
        padding: 1% 0%;
    }
}

.ui.footer {
    margin-top: 2%;
}
