@import 'colors';

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
}

.ui.header {
    font-family: "Roboto", sans-serif;
}

.content {
    h1.ui.header {
        font-family: inherit;
        font-weight: 400;
    }
}

#jumbotron {
    background-image: url("../img/tapestry.jpeg");
    background-size: cover;
}

#banner {
    padding: 5%;

    .ui.header, p {
        color: $white;
        text-shadow: 1px 1px 5px $black;
    }
}

#about {
    margin-top: 2%;

    h2 {
        font-weight: 400;
    }

    p {
        color: $medium-gray;
    }

    .grid {
        margin: 2% 0%;
    }
}

#join {
    margin-top: 2%;

    h2 {
        font-weight: 400;
    }

    p {
        color: $medium-gray;
    }

    .row {
        margin: 2% 0%;
    }

    .grid {
        margin: 2% 0%;
        margin-bottom: 0;
    }
}

#events {
    margin-top: 2%;

    h2 {
        font-weight: 400;
    }

    p {
        color: $medium-gray;
    }

    .row {
        margin: 2% 0%;
    }

    .grid {
        margin: 2% 0%;
        margin-bottom: 0;
    }
}

#contact {
    margin-top: 2%;

    h2 {
        font-weight: 400;
    }

    p {
        color: $medium-gray;
    }
}

#blog {
    margin-top: 2%;

    p {
        color: $medium-gray;
    }

    .post {
        margin: 2% 0%;
    }
}

#board {
    margin-top: 2%;

    p {
        color: $medium-gray;
    }

    .grid {
        margin: 2% 0%;
    }

    .ui.card > .content > a.header {
        font-family: inherit;
        font-weight: 400;
    }
}

#faq {
    margin-top: 2%;

    p {
        margin-bottom: 2%;
        color: $medium-gray;
    }
}

#signup {
    margin: 2% 0%;
}

#login {
    margin: 2% 0%;
}
