<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navigation -->
    <div id="jumbotron" class="ui vertical center aligned">
        <div id="nav" class="ui secondary stackable menu">
            {% block nav_home %}<a class="item" href="{{ url_for('website.index') }}">Home</a>{% endblock %}
            {% block nav_blog %}<a class="item" href="{{ url_for('website.blog') }}">Blog</a>{% endblock %}
            {% block nav_board %}<a class="item" href="{{ url_for('website.board') }}">Board</a>{% endblock %}
            {% block nav_faq %}<a class="item" href="{{ url_for('website.faq') }}">FAQ</a>{% endblock %}

            <div class="right menu">
                {% if user and user.is_authenticated %}
                    <div id="nav-profile" class="ui pointing dropdown link item">
                        <img class="ui middle aligned mini rounded image" src="{{ user.get_pfpic() }}" style="margin-right: 13px;">
                        <span>
                            <strong>{{ user.fname }} {{ user.lname }}</strong>
                            <br>
                            {% if user.board_member %}
                            <p>Board Member</p>
                            {% elif user.active_member %}
                            <p>Active Member</p>
                            {% else %}
                            <p>General Member</p>
                            {% endif %}
                        </span>
                        <div class="menu">
                            <a class="item" href="{{ url_for('social.index') }}">View Profile</a>
                            <a class="item" href="{{ url_for('website.logout' )}}">Log Out</a>
                            <a class="item" href="{{ url_for('social.settings' )}}">Settings</a>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <a href="{{ url_for('website.signup') }}"><div class="ui primary button">Sign Up</div></a>
                    </div>
                    <div class="item">
                        <a href="{{ url_for('website.login') }}"><div class="ui primary button">Log In</div></a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% block header %}{% endblock %}
    </div>

    {% block app %}{% endblock %}

    <!-- Footer -->
    <div class="ui footer">
        <div class="ui center aligned text container">
            <p>© 2017 Indian Cultural Association<br>Designed &amp; Developed by <a href="https://linkedin.com/in/shreydesai">Shrey Desai</a></p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
